@model SRCUIPagination

@{
    if (Model == null) return;
    string id = (string.IsNullOrEmpty(Model.Id) ? "_srcvalley_pagination" : Model.Id);

}

@if (Model != null)
{

    <input id="@($"{id}_take")" type="hidden" value="@Model.Take" name="take" />

    int prevPageNumber = (Model.CurrentPage - 1);
    if (prevPageNumber < 1)
    {
        prevPageNumber = 1;
    }
    int nextPageNumber =  Model.CurrentPage + 1;
    if (nextPageNumber > Model.TotalPage)
    {
        nextPageNumber = Model.TotalPage;
    }
    @*                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>*@
<div class="justify-content-end">
    <div class="pagination-wrap hstack gap-2">
    <div class="row mb-3 py-2" style="width:100%">
        <div class="col-4">
            <span>筆數</span>
            <select class="" id="@($"{id}_row")" onchange='_srcvalley_ly_pagination_show_row_change("@(id)")'>
                <!option value="10" @(Model.Take == 10 ? "selected" : "") >10</!option>
                <!option value="25" @(Model.Take == 25 ? "selected" : "") >25</!option>
                <!option value="30" @(Model.Take == 30 ? "selected" : "") >30</!option>
                <!option value="50" @(Model.Take == 50 ? "selected" : "") >50</!option>
                <!option value="100" @(Model.Take == 100 ? "selected" : "") >100</!option>

            </select>

        </div>
         <div class="col-4 d-flex  justify-content-center ">

            <nav id="@id" class="">
                <ul class="pagination pagination-sm ">
                    <li class="page-item">
                        <a class="page-link"
                           onclick='_srcvalley_ly_pagination_page_click("@($"{id}_action")","first" , 1 , @Model.Take)'>
                            <span>&lt;&lt;</span>
                        </a>
                    </li>
         
                        <li class="page-item">
                            <a class="page-link"
                               onclick='_srcvalley_ly_pagination_page_click("@($"{id}_page")","prev", @(prevPageNumber), @Model.Take)'>
                                <span>&lt;</span>
                            </a>
                        </li>

                        <li>
                            <select class="form-control form-control-sm" id="_src_pagination_select" onchange='_srcvalley_ly_pagination_page_click("@($"{id}_page")", "now" , -1 , @Model.Take)'>
                                  @for(int i = 0; i < Model.TotalPage; i++)
                                  {
                                      int targetPage = i + 1;
                                      <!option 
                                      value="@targetPage" @(Model.CurrentPage == targetPage ? "selected" : "")>@targetPage
                                      </!option>
                                  }
                            </select>
                        </li>
          
                        <li class="page-item">
                            <a class="page-link"
                               onclick='_srcvalley_ly_pagination_page_click("@($"{id}_page")","next",@(nextPageNumber) ,@Model.Take )'>
                                <span>&gt;</span>
                            </a>
                        </li>
                    <li class="page-item">
                        <a class="page-link"
                           onclick='_srcvalley_ly_pagination_page_click("@($"{id}_action")","last",@Model.TotalPage ,@Model.Take )'>
                            <span>&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
    
         </div>
     
        <div class="col-4"></div>
    </div>
    </div>
</div>


@*    <div class="row mb-3 py-2">
        <div class="col-sm-6">
            @{
                var FirstPage = ((Model.CurrentPage - 1) * Model.Take) + 1;
                var EndPage = Model.CurrentPage * Model.Take;
            }
            共 @Model.TotalPage 筆，顯示 @FirstPage - @EndPage 筆。
        </div>
    </div>
    <div class="col-sm-6">
        <ul class="pagination pagination-sm" style="float:right">
            <li class="page-item">
                <a class="page-link" onclick='_srcvalley_ly_pagination_page_click("@($"{id}_page")","prev", @(prevPageNumber), @Model.Take)' aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            @for(int i = 0; i < Model.TotalPage; i++)
            {
                int targetPage = i + 1;

                <li class="page-item  @(Model.CurrentPage == targetPage ? "active" : "")">
                    <a class="page-link" onclick="_srcvalley_ly_pagination_page_click("@($"{id}_page")", "now" , -1 , @Model.Take)" >@targetPage</a>
                </li>
            }
        </ul>
    </div>*@


    <script>

        
        if (typeof _srcvalley_ly_pagination_page_click != 'function') {

            function _srcvalley_ly_pagination_page_click(id , action , page, take) {
                
                if(page == -1){
                    page = $("#_src_pagination_select").val();
                }

                //console.log(id);
                //console.log(action);
                //console.log(page);
                //console.log(take);

                if (typeof _srcvalley_ly_pagination_search == 'function') {
                    _srcvalley_ly_pagination_search({ id, action, page, take });
                }
            }
        }


        if (typeof _srcvalley_ly_pagination_take != 'function') {
            function _srcvalley_ly_pagination_take(id) {
                if (id == '') id = "_srcvalley_pagination";
                return $("#" + id + "_take").val();
            }
        }

        if (typeof _srcvalley_ly_pagination_show_row_change != 'function') {

            function _srcvalley_ly_pagination_show_row_change(id) {
                
                console.log(id);
                
                let take = $("#"+id+"_row").val();
                $("#"+id+"_take").val(take);
                
                let page =  @Model.CurrentPage;
                let action ="";
                _srcvalley_ly_pagination_search({ id, action, page , take });

            @*    if (typeof _srcvalley_ly_pagination_show_row_action == 'function') {
                    _srcvalley_ly_pagination_show_row_action({ id, tk });
                }*@
            }
        }

    </script>
}
