@model List<SRCMenu>


@{
    List<SRCMenu> menus = Model;
}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu" style="background-color:white">
    <!-- LOGO -->
    <div class="navbar-brand-box" style="background-color:white">

@*         <div href="@Url.Action("Index", "Home")" class="logo-light pt-1">
            <span class="logo-sm fs-3 text-secondary">
                <img src="~/assets/images/logo.png" alt="" height="33">
            </span>
            <hr class="p-0 text-info m-2" />
            <span class="logo-lg fs-5 text-white">
                企業管理系統後台服務
            </span>
        </div> *@
        <!-- Dark Logo-->
@*         <a href="@Url.Action("Index", "Home")" class="logo logo-dark" style="line-height:20px;margin-top:20px" >
            <span class="logo-sm" style="font-size:22px;color:black;font-family:'標楷體'">
                <img src="~/assets/images/logo.png" alt="" height="22">                                
            </span>
            <span class="logo-lg" style="font-size:22px;color:black;font-family:'標楷體'">
                <img src="~/assets/images/logo.png" alt="" height="33">
            </span>
        </a> *@
   @*      <br />
        <br /> *@
@*         <span class="logo-sm" style="font-size:22px;color:black;font-family:'標楷體'">
        企業管理系統後台服務
        </span> *@
@*         <a href="@Url.Action("Index", "Home")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo.png" alt="" height="33">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo.png" alt="" height="33">
            </span>
        </a> *@
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    @* <hr /> *@
    <div id="scrollbar" style="font-weight:700">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>

            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">功能選單</span></li>
@*                <li class="nav-item">
                    <a href="@Url.Action("Index","Demo")" class="nav-link">Demo</a>
                </li>*@
                @foreach (var each in menus)
                {
                    <partial name="_sidebar_detail" for="@each" />
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>

