@model BackendUserEdit
@inject ISelectUI selectUI
@inject IDF_BackendUser _Backend
@inject IDF_SystemCode DF_SystemCode

@{
    var Units = _Backend.List_Backend_Unit().ToDictionary(x => x.code, x => x.name);
    var action = "add";

    SRCLoginMeta meta = User.Identity.LoginMeta();
    var backendUsers = _Backend.AllBackendUser();
    var superiorDic = backendUsers;

    if(Model.Action == ActionMode.EDIT)
    {
        superiorDic = backendUsers.Where(x => x.pid != Model.UserId.Value).ToList();
        action = "edit";
    }

    var ListUnit = DF_SystemCode.List_SystemCode("UNIT");
}
                        <input name="UserId" type="hidden" value="@Model.UserId" />

                        <div class="mb-3" id="edit_div">
    <label for="account-field" class="form-label">使用者帳號</label>
                                <input type="text" id="Account-field" name="Account" maxlength="30" value="@Model.Account" 
                                class="form-control @(Model.Action == ActionMode.ADD ? "" : "bg-light")" placeholder="請輸入帳號" 
                                @(Model.Action == ActionMode.ADD ? "" : "readonly") />
                        </div>

                        @if(Model.Action == ActionMode.ADD)
                        {
                            <div class="mb-3">
                                <label for="Password-field" class="form-label">密碼</label>
                                <input type="Password" id="Password-field" name="Password" maxlength="30" class="form-control" placeholder="請輸入密碼" value="" required />
                            </div>
                        }

                        <div class="mb-3">
                            <label for="UserName-field" class="form-label">使用者名稱</label>
                            <input type="text" id="UserName-field" name="UserName" value="@Model.UserName" maxlength="40" placeholder="請輸入使用者名稱" class="form-control"required />
                        </div>

                        <div class="mb-3">
                            <label for="Email-field" class="form-label">Email</label>
                            <input type="email" id="Email-field" name="Email" value="@Model.Email" maxlength="100" placeholder="請輸入 Email" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="PhoneNumber-field" class="form-label">連絡電話</label>
                            <input type="text" id="PhoneNumber-field" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" 
                            placeholder="請輸入連絡電話" 
                            oninput='this.value=this.value.replace(/[^0-9]/g,"")'
                            maxlength="20"
                            required />
                        </div>

                        <div class="mb-3">
                            <label for="PhoneNumber-field" class="form-label">單位</label>
                            <select id="unit" name="unit" class="form-control">
                                @foreach(var each in ListUnit){
                                    if(each.data == Model.Unit)
                                    {
                                        <option value="@each.data" selected>@each.description</option>
                                    }
                                    else
                                    {
                                        <option value="@each.data">@each.description</option>
                                    }
                                    
                                }
                            </select>
                        </div>
<div>
                            <label for="Enabled-field" class="form-label">帳號狀態</label>
                            <select class="form-control" data-trigger id="Enabled-field" name="Enabled">
                                <!option value="true" @(Model.Enabled ? "selected":"") >啟用</!option>
                                <!option value="false" @(Model.Enabled ? "":"selected")>停用</!option>
                            </select>
                        </div>
    <script>
        function ShowAdAccountInput(action){
            var IsCheck = $("#Ad_AccountChk_" + action).is(":checked");

            if (!IsCheck) {
                $("#AdAccountInputDiv_" + action).addClass("d-none");
                $("#Ad_Account_" + action).val("");
            }
            else {
                $("#AdAccountInputDiv_" + action).removeClass("d-none")
            }

        }
        new Choices("#unit-field_@action");

        new Choices("#superior_@action");

        function InitSuperiorSelect(thi,action) {
            let unit = $(thi).val();
            if(unit == "@UNIT_CODE.AdminUnitCode")
            {
                $("#superior_" + action).val("");
                $("#superior_div_" + action).addClass("d-none")
            }
            else{
                $("#superior_div_" + action).removeClass("d-none")
            }

            // $.ajax({
            //     url: "@Url.Action("InitSuperiorSelect", "BackendUser")",
            //     data: { "unit": unit },
            //     dataType: "json",
            //     type: "POST",
            //     beforeSend: function () { _srcvalley_pg_loading(); },
            //     complete: function () { _srcvalley_pg_loading_stop(); },
            //     success: function (result) {
            //         $("#superior_" + action).html("");
                    
            //         let option = "<option value=''>請選擇上司</option>"

            //         for (var each in result) {
            //             option += "<option value ='" + each + "'>" + result[each] + "</option>"
            //         }

            //         $("#superior_" + action).append(option);
            //     }
            // });
        }
    </script>

